### Pandas
一个用于表示表格类型的内容

In [7]:
# 载入pandas库
import pandas as pd

In [8]:
s = pd.Series([2,4,6,8,10])

In [9]:
s

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [11]:
d = pd.DataFrame([
 [2,4,6,8,10],
 [7,3,4,7,15],
])

d

   0  1  2  3   4
0  2  4  6  8  10
1  7  3  4  7  15

In [12]:
d[0]

0    2
1    7
Name: 0, dtype: int64

这里要注意直接用中括号获取的是,列,因为比如我们要获取一个表中的age属性,通常的拿这age一列的数据出来,所以想要获取一条数据,需要再中括号一下

获取一行怎么获取

In [13]:
d.loc[0]

0     2
1     4
2     6
3     8
4    10
Name: 0, dtype: int64

这个给我们返回的是一个series
实际上这个dataframe是由多个series组成的
所以我们可以这么写

In [23]:
d2 = pd.DataFrame([
 pd.Series([2,4,6,8,10]),
 pd.Series([7,3,4,7,15]),
])
d2

   0  1  2  3   4
0  2  4  6  8  10
1  7  3  4  7  15

In [31]:
class1 = pd.Series({'hong': 50, 'huang': 90, 'qing': 60})

# 修改字典索引
class1_values = {'hong': 50, 'huang': 90, 'qing': 60}
class1_index = ['hong', 'lv', 'lan']
# 这个地方的键是根据index参数设置的,然后前面的那个字典的键就不要了
class1 = pd.Series(class1_values, index=class1_index)
class1

hong    50.0
lv       NaN
lan      NaN
dtype: float64

In [32]:
class1

# 值数据，输出类型为array，还是ndarray数组
class1.values

# 索引，输出index类型（Pandas独有的索引类型）,本质上就是ndarray
class1.index

class1.index[2]
class1.index.values

array(['hong', 'lv', 'lan'], dtype=object)

In [33]:
class1_index
class1.hong

50.0

In [41]:
class1[[1,2,0]]

lv       NaN
lan      NaN
hong    50.0
dtype: float64

In [48]:
class1[0:1]

hong    50.0
dtype: float64

In [50]:
# 直接就能记性判断
class1 > 6
# 这个Nan值你怎么判断都是False

hong     True
lv      False
lan     False
dtype: bool