### dataframe的获取值

In [19]:
import pandas as pd

In [20]:
a_values = [
    ['小明','male',18,170,60,'北京海淀',61],
    ['小华','female',28,160,50,'上海静安',74],
    ['小红','female',22,175,64,'广州天河',59],
    ['小靑','male',31,182,80,'深圳南山',82],
    ['小兰','female',25,165,55,'杭州西湖',98],
]
a = pd.DataFrame(
    a_values,
    index=[1,2,3,4,5],
    columns=['name','sex','age','heigh','weight','address','grade']
)

In [21]:
a

  name     sex  age  heigh  weight address  grade
1   小明    male   18    170      60    北京海淀     61
2   小华  female   28    160      50    上海静安     74
3   小红  female   22    175      64    广州天河     59
4   小靑    male   31    182      80    深圳南山     82
5   小兰  female   25    165      55    杭州西湖     98

In [22]:
a.dtypes

name       object
sex        object
age         int64
heigh       int64
weight      int64
address    object
grade       int64
dtype: object

In [23]:
a.index

Int64Index([1, 2, 3, 4, 5], dtype='int64')

In [24]:
a.columns

Index(['name', 'sex', 'age', 'heigh', 'weight', 'address', 'grade'], dtype='object')

In [25]:
a.values

array([['小明', 'male', 18, 170, 60, '北京海淀', 61],
       ['小华', 'female', 28, 160, 50, '上海静安', 74],
       ['小红', 'female', 22, 175, 64, '广州天河', 59],
       ['小靑', 'male', 31, 182, 80, '深圳南山', 82],
       ['小兰', 'female', 25, 165, 55, '杭州西湖', 98]], dtype=object)

In [26]:
a.info

<bound method DataFrame.info of   name     sex  age  heigh  weight address  grade
1   小明    male   18    170      60    北京海淀     61
2   小华  female   28    160      50    上海静安     74
3   小红  female   22    175      64    广州天河     59
4   小靑    male   31    182      80    深圳南山     82
5   小兰  female   25    165      55    杭州西湖     98>

In [27]:
a.describe()

             age       heigh     weight      grade
count   5.000000    5.000000   5.000000   5.000000
mean   24.800000  170.400000  61.800000  74.800000
std     5.069517    8.561542  11.454257  16.053037
min    18.000000  160.000000  50.000000  59.000000
25%    22.000000  165.000000  55.000000  61.000000
50%    25.000000  170.000000  60.000000  74.000000
75%    28.000000  175.000000  64.000000  82.000000
max    31.000000  182.000000  80.000000  98.000000

In [28]:
a.loc()